@font-face {
  font-family: 'PexelGrotesk';
  src: url('/fonts/PexelGrotesk.woff') format('woff');
}

@font-face {
  font-family: 'TTSquaresCondensed';
  src: url('/fonts/TTSquaresCondensed.woff2') format('woff2');
}
